* {
    font-family: Arial, Helvetica, sans-serif;
}

.accordion {
    width: 40%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.acc__section {
    border-top: 1px solid grey;
    position: relative;
    height: 30px;
    transition: height 0.2s;
}

.acc__section:has(input:checked) {
    height: 100%;
}

input {
    display: none;
}

.title {
    display: block;
    cursor: pointer;
    color: darkslateblue;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.accordion:hover .title,
input:checked~.title {
    color: black;
}

.icon {
    width: 10px;
    position: absolute;
    top: 10px;
    right: 3px;
    z-index: -10;
    transition: all 0.2s ease-in;
    visibility: hidden;
}

.accordion:hover .icon {
    visibility: visible;
}

input:checked~.icon {
    rotate: 180deg;
}

.img {
    transform: scale(0);
    transition: all 0.2s;
    width: 80%;
    margin: 20px auto;
    display: block;
    height: 200px;
    object-fit: contain;
}


input:checked~.img {
    transform: scale(1);
}