* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

.accordion {
    width: 40%;
    min-width: 350px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.acc__section {
    border-top: 1px solid grey;
    position: relative;
}

input:checked~.title,
.title:hover {
    height: 100%;
}

input {
    display: none;
}

.title {
    display: block;
    color: darkslateblue;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    transition: all 0.3s ease-in;
}

.accordion:hover .title,
input:checked~.title {
    color: black;
}

.icon {
    width: 10px;
    position: absolute;
    top: 10px;
    right: 3px;
    z-index: -10;
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
}

.accordion:hover .icon {
    visibility: visible;
    opacity: 1;
}

input:checked~.title>.icon {
    rotate: 180deg;
}

.img {
    transform: scale(0);
    transition: all 0.3s ease-in;
    width: 80%;
    margin: 20px auto;
    display: block;
    height: 200px;
    object-fit: contain;
    opacity: 0;
}

input:checked~.title>.img,
.title:hover .img {
    transform: scale(1);
    opacity: 1;
}